* {
  font-family: 'Abel', sans-serif;
}

.clearfix {
  clear: both;
}

body {
  margin: 0 auto;
  text-align: left;
  width: 900px;
}

.media > ol {
  float: right;
}

.media li {
  float: left;
  margin: 2px;
}

h1 {
  margin-bottom: 7px;
  margin-top: 20px;
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.print {
  float: right;
}

.print > img {
  display: inline-block;
}