body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: color #47626e;
}

header {
  width: 100%;
  background-color:#47626e;
  height: 180px;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-family: sans-serif, 'Arial Narrow', 'Franklin Gothic Medium', Arial, ;
  font-size: 50px;
  padding: 60px;

}

p {
  font-size: larger;
  white-space: 10px;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

main section {

  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.imgs {
  margin: auto;
  max-height: 400px;
}

/* #show-result-btn{

} */
footer {
  text-align: center;
  height: max-content;
  position: static;
  bottom: 0px;
  margin-top: 30px;
}

#show-result-btn {
  margin-top: 100px;
  font-size:x-large;
}

#show-result-btn:hover {
  background-color: #786028;
  transform: scale(1.1);
}